pyTelegramBotAPI
python-telegram-bot
openai
requests
beautifulsoup4
wikipedia
openpyxl
schedule
scikit-learn
keras
tensorflow
pillow
mysql-connector-python
pyodbc
firebase-admin
Flask
infermedica-api
dotenv
google-genai